*
    background: #0E1621
    color: white
    font-family: 'Poppins', sans-serif
    box-sizing: border-box
    margin: 0
    padding: 0

.container
    width: 1140px
    margin: 0 auto

.divider
    display: block
    background: $main-color
    width: 60px
    height: 2px